* {
    margin: 0;
    padding: 0;
    outline: 0;
}

body {
    font-family: 'Raleway';
    font-size: 14px;
    line-height: 18px;
    color: #000;
    background: url(images/bg.jpg)repeat fixed 0 0 #000;
}

h2{font-size: 14px; color: #000;}

#big_content{
    width: 920px;
    margin: 0 auto;
    border: solid; 
    padding: 10px; 
    background-color: #fff;
}

#header{background-color: #555;}

#container{background-color: #f1f;}

#left_panel{background-color: #f2f2;}

#right_panel{background-color: #FAFA;}

#under_section{background-color: #cacaca;}

#left_section{background-color: #777;}

#middel_section{background-color: #758209;}

#right_section{background-color: #f1c233;}

#footer{background-color: #a20b32;}

