*{
    margin: 0;
    padding: 0;
    outline: 0;
}

body {
    font-family: arial;
    font-size: 14px;
    line-height: 18px;
    color: #000;
    background: url(images/bg.jpg)repeat fixed 0 0 #000;
}

.templete{
    width: 960px;
    margin: 0 auto;
}

.clear{overflow: hidden;}

.headersection{
    height: 80px;
}

.headersection img{
    height: 86px;
    width: 965px;
}

.navsection{
    height: 40px;
    background: #222222;
}

.contentsection{
   
}

.maincontent{
    width: 400px;
    float: left;
    border: 1px solid;
}

.maincontent img{
    background: #000 none repeat scroll 0 0;
    border: 1px solid #f6bf5b;
    border-radius: 50px;
    height: 80px;
    margin-left: 50px;
    margin: 10px 0px 0px 50px;
    padding: 1px;
    width: 80px;
}

.maincontent p{
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 1px;
    margin: 5px 5px 5px 20px; 
    text-align: justify;
    font-style: italic;
}

.maincontent h2{
    margin: 0px 0px 0px 20px;
}

.maincontent a{
    font-size: 16px;
    margin: 10px 5px 5px 20px;
    text-align: justify;
    line-height: 20px;
}
.imagesection img{
    background: 0;
    border: 0;
    border-radius: 0;
    margin-left: 0;
    margin: 0px 0px 0px 20px;
    padding: 0;
    width: 20px;
    height: 20px;
}
.imagesection h2{
    margin: 0px 0px 0px 20px;
}

.imagesection a{
    font-size: 16px;
    margin: 0px 0px 0px 10px;
    text-align: justify;
    line-height: 0px;
}

.sidebar{
    width: 550px;
    border: 1px solid#555555;
    float: right;    
}

.sidebar h2{
    background: #000 none repeat scroll 0 0;
    border-bottom: 2px solid #555555;
    border-radius: 20px 0px 20px 0px;
    text-align: center;
    color: #fff;
    margin-bottom: 8px;
    padding: 10px;
    
}

.main{
    display: grid;
    grid-template-columns: 1.5fr 1fr 1.5fr;
    height:150px;
    grid-gap: 1em;
}
.main>div{
    border: 1px solid #222;
}
.main>div:nth-child(odd){
    border: 1px solid #fff;
}


.footersection{
    height: 80px;
}

.footersection img{
    height: 86px;
    width: 965px;
}

